<template name="selector">
  <form>
    <label for="name">Run Name</label>
    <input type="text" name="name">
    
    <label for="environment">Environment</label>
    <select name="environment">
        <option>None</option>
      {{#each environments}}
        <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
      
    <label for="test">Test Name</label>
    <select name="test">
      {{#each tests}}
        <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>

    <label for="url">URL</label>
    <input type="url" name="url" value="http://localhost:3000">
    
    <label for="iterations">Iterations</label>
    <input type="text" name="iterations">

    <label for="over">Over (seconds)</label>
    <input type="text" name="over">
    
    <button class="go">GO!</button>
    <button class="reset">Reset</button>
  </form>
</template>